Repository gisce/react-ooui, pull requests merged in 2024-11, with the labels that each got.

#643 feat: add icon on arrow steps
  src/widgets/custom/ArrowSteps.tsx
Labels: enhancement

#688 Add multi email
  src/widgets/base/Email.tsx
  src/widgets/base/LinkInput.tsx
  src/widgets/custom/EmailTags.tsx
  src/widgets/views/Tree/treeComponents.tsx
Labels: widget

#698 Feature/timeline color and icon
  src/widgets/custom/Timeline.tsx
Labels: widget

#707 Feature/allow icon as value
  src/widgets/base/Image.tsx
Labels: enhancement

#725 Add spinner component
  package-lock.json
  package.json
  src/index.ts
  src/widgets/WidgetFactory.tsx
  src/widgets/custom/Spinner.tsx
Labels: enhancement, widget

#721 feat(image): allow to use icons in trees
  src/widgets/base/Image.tsx
  src/widgets/views/Tree/treeComponents.tsx
Labels: enhancement
